name: Flatpak build

on: [push]

env:
  FLATPAK_ID: com.valvesoftware.Steam.CompatibilityTool.Proton

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Install flatpak-builder
      run: |
        set -e
        sudo add-apt-repository -y ppa:alexlarsson/flatpak
        sudo apt update -y
        sudo apt install -y flatpak-builder

    - name: Download flatpak SDK and sources
      run: |
        set -e
        flatpak remote-add --user --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo
        flatpak-builder --install-deps-from=flathub --install-deps-only --user /dev/null ${FLATPAK_ID}.yml
        flatpak-builder --download-only /dev/null ${FLATPAK_ID}.yml

    - name: Prime ccache
      uses: actions/cache@v1
      with:
        path: .flatpak-builder/ccache
        key: flatpak-builder-ccache

    - name: Build flatpak
      run: |
        set -e
        flatpak-builder --disable-updates --disable-download --ccache --sandbox build-dir ${FLATPAK_ID}.yml

    - name: Upload build dir
      uses: actions/upload-artifact@v1
      with:
        name: proton-flatpak-build
        path: build-dir

  bundle:
    runs-on: ubuntu-latest

    needs: build

    steps:
    - uses: actions/checkout@v2

    - name: Install flatpak-builder
      run: |
        set -e
        sudo add-apt-repository -y ppa:alexlarsson/flatpak
        sudo apt update -y
        sudo apt install -y flatpak-builder

    - name: Download build dir
      uses: actions/download-artifact@v1
      with:
        name: proton-flatpak-build

    - name: Create flatpak bundle
      run: |
        set -e
        ostree --repo=build-repo init --mode=bare-user
        flatpak-builder --export-only --repo=build-repo build-dir ${FLATPAK_ID}.yml
        flatpak build-bundle --runtime-repo=https://flathub.org/repo/flathub.flatpakrepo --runtime build-repo Proton.flatpak ${FLATPAK_ID} stable

    - name: Upload bundle
      uses: actions/upload-artifact@v1
      with:
        name: proton-flatpak-bundle
        path: Proton.flatpak
